/**
    Title: Rosen-Javazon.html
    Author: Travis Rosen
    Date: 2/21/2021
    Description: Styling for Rosen-Javazon.css
*/

html, body {
    font-family: "Oswald", Verdana, Arial, sans-serif;
}
/**
Adds width and margin styling to the card where user will select listing. 
*/


.app-header {
    font-size: 28px;
    text-align: center;
}

/**
Adds a border to the button
*/
.btn {
    border: solid black;
    border-radius: 5px;
}
/**
Changes font size and alignment for the details of the result. 
*/
#booksTable {
    font-size: 28px;
    text-align: center;
}
/**
Changes font size and alignment for result.
*/
#authorsTable {
    font-size: 28px;
    text-align: center;
}
/**
Changes font size of the table title.
*/
#tableTitle {
    font-size: 28px;
}
tbody {
    font-size: 28px;
}
/**
Adds width, border, and margins to the table.
*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
/**
Styling for the table headers.
*/
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4f3674;
    color: white;
}
/**
Adds border and padding for the td and th elements.
*/
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
/**
Adds styling for when cursor is hovering table rows.
*/
tr:hover {
    background-color: #d6a800;
    color: #4f3674;
    cursor: pointer;
}
